body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

header {
    border: black solid 2px;
    position: top;
    display: flex;
    border-bottom: black solid 3px;
    align-items: center;
    justify-content: space-between;
    width: 99.7vw;
 }

 #headerId{
    position: relative;
    left: 45vw;
}

a {
    text-decoration: none;
    color: inherit;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 2vw;
    width: 80vw;
}

.nav {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    margin-left: 5vw;
}

.navElem {
    float: left;
    margin-right: 3vw;
}

.login {
    display: flex;
    flex-direction: row;
}

.login div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form p {
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: right;
}

.form {
    border: black solid 1px;
}

label {
    border: black solid 1px;
    font-size: 1.2vw;
    font-weight: 500;
}

input {
    padding: 5px 10px;
}

button {
    cursor: pointer;
}

.homeButtons {
    border: black solid 1px;
    margin: 1vw;
    margin-top: 2vw;
    padding: 15px 25px;
    font-size: 2vw;
    font-weight: 500;
    cursor: pointer;
    border-radius: 20px;
}

button[type=submit] {
    padding: 15px 90px;
    border-radius: 0.5vw;
}

button[type=unsub] {
    padding: 5px 10px;
}

button[type=update] {
    height: 3vw;
    width: 9vw;
    margin-left: 5vw;
}

.subs {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: black solid 1px;
    margin: 1vw;
}

.subs button[type=submit] {
    position: relative;
    left: 2vw;
}

.subsContainer{
    width: 25vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 9px;
}

#id_description {
    width: 50vw;
    height: 15vw;
}

#id_body {
    width: 50vw;
    height: 15vw;
}

img {
    width: 200x;
    height: 300px;
}

.ticketdata {
    display: flex;
    flex-direction: column;
    border: black solid 1px;
    align-items: center;
    padding-left: 1vw;
    width: 35vw;
    margin: 20px;
}

.postdata {
    display: flex;
    flex-direction: row;
    border: black solid 1px;
    align-items: center;
    padding-left: 1vw;
    width: 30vw;
    margin: 20px;
}

.reviewdata {
    display: flex;
    flex-direction: row;
    border: black solid 1px;
    align-items: center;
    padding-left: 1vw;
    height: 34vw;
    width: 28vw;
}

.container {
    padding-left: 1.5vw;
}

.subcontainer {
    padding: 1vw;
    border: black solid 2px;
}

.ticketSnippet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15vw;
    align-items: center;
    border: black solid 1px;
}

.reviewSnippet {
    width: 32vw;
}

.snippetContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.posttime {
    position: relative;
    float: top;
    float: right;
}
