{% extends 'listings/base.html' %}
{% block title %} Nouvelle critique {% endblock title %}

{% block content %}
<main>
    <div>
        <h1> Répondre à un ticket</h1>

        <div class="ticketdata">
        <h2>{{ ticket.title }}</h2>
        <p>{{ ticket.description }}</p>
        <p> Demandé par {{ ticket.user }} le {{ ticket.time_created }} </p>
        {% if ticket.image %}
        <p><img src="{{ ticket.image.url }}" alt="{{ ticket.title }}"></p>
        {% endif %}
        </div>
    </div>
            <form action="{% url 'new-review' id=ticket.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                <button type="submit"> Envoyer </button>
            </form>
    </div>
</main>
{% endblock %}