
    {% if request.user == ticket.user %}
        <p>Vous avez publié un ticket</p>
    {% else %}
        <p>{{ticket.user.username }} a demandé une critique</p>
    {% endif %}

<div class="snippetContainer"> 
    <div class="ticketSnippet">
    <h2>{{ ticket.title }}</h2>
    <p>{{ ticket.description }}</p>
    {% if ticket.image %}
    <p><img src="{{ ticket.image.url }}" alt="{{ ticket.title }}" style="max-width: 200px;"></p>
    {% endif %}
    <div class="posttime"> {{ ticket.time_created }} </div>
    </div>
    <div class="createReview">
    <a href="{% url 'new-review' id=ticket.id %}">
        <button type="update"> <h2> Créer une critique </h2> </button></a>
    </div>
</div>