{% extends 'listings/base.html' %}

{% block content %}

    <h1> Ticket :</h1>
    <h2>{{ ticket.title}}</h2>
        <ul>
            <li>Description : {{ ticket.description }}</li>
            <li> Critique de {{ ticket.user }} : {{ ticket.review }} </li>
            <li>
                <img src="{{ ticket.image.url }}" alt="img">
            </li>
        </ul>

    <a href="{% url 'ticket-update' ticket.id %}">
        <button type="submit"> Modifier </button>
    </a>
    <form action="{% url 'ticket-delete' id=ticket.id %}" method="post"> 
        {% csrf_token %}
        <button type="submit"> Delete ticket</button>
    </form> 

{% endblock %}