{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'listings/style.css' %}" />
    <title>{% block title %}{% endblock title %}</title>
</head>
    <header>
        <h1 id="headerId"> LitReview</h1>
        <ul class="nav">
            <li class="navElem">
                <a href="{% url 'home' %}"> <h2>Flux </h2></a>
            </li>
            <li class="navElem">
                <a href="{% url 'posts' %}"> <h2> Vos posts</h2> </a>
            </li>
            <li class="navElem">
                <a href="{% url 'sub' %}"> <h2>Abonnements</h2> </a>
            </li>
            {% if user.is_authenticated %}
            <li class="navElem">
                <a href="{% url 'logout' %}"> <h2>Se déconnecter</h2> </a>
            </li>
            {% endif %}
        </ul>
    </header>
<body>
    <div>
            {% block content %} {% endblock content %}
</body>
</html>