{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'listings/styles.css' %}" />
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <section class="nav_container">
        <ul>
            <li class="nav_elem">
                <a href="{% url 'home' %}"> Flux </a>
            </li>
            <li class="nav_elem">
                <a href="{% url 'posts' %}"> Vos posts </a>
            </li>
            <li class="nav_elem">
                <a href="{% url 'sub' %}"> Abonnements </a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav_elem">
                <p> {{ request.user }}</p>
                <a href="{% url 'logout' %}"> Se déconnecter </a>
            </li>
            {% endif %}
        </ul>
    </section>
    <div>
    {% block content %} {% endblock content %}
</body>
</html>