{% extends 'listings/base.html' %}
{% block title %} Posts {% endblock title %}

{% block content %}

    <h1> Vos posts: </h1>
        <ul>
            {% for ticket in tickets %}
            <li> 
                <a href="{% url 'ticket-detail' ticket.id %}">{{ ticket.title }}</a> 
                <br> {{ticket.description}} <br> 
                <a href="{% url 'ticket-update' ticket.id %}">
                    <button type="submit"> Modifier </button>
                </a>
                <form action="{% url 'ticket-delete' id=ticket.id %}" method="post"> 
                    {% csrf_token %}
                    <button type="submit"> Supprimer</button>
                </form> 
            </li>
        {% endfor %}
    </ul>

{% endblock %}