{% extends 'listings/base.html' %}
{% block title %} Abonnement {% endblock title %}

{% block content %}

<main>
    <h1> S'abonner ! </h1>
        <div class="subs">
            <form class="subsContainer" action="{% url 'sub' %}" method="post">
                <div>{% csrf_token %}
                {{form}}
                </div>
                <div>
                <button type="sub"> <h2> S'abonner </h2></button>
                </div>
            </form>
        </div>

    <h1> Utilisateurs suivis</h1>
            {% if subs %}
                {% for sub in subs %}
                    <div class="subs">
                        <form class="subsContainer" action ="{% url 'unsub' id_user=sub.followed_user.id %}" method="post">
                            <div>
                                <h2>{{ sub.followed_user }} </h2>
                                {% csrf_token %}
                            </div>
                            <div>
                            <button type="unsub"> <h2> Se désabonner</h2> </button>
                            </div>
                            </form> 
                        </div>      
                    </div>
                {% endfor %}
            {% else %}
        <p> Vous ne suivez personne pour l'instant.</p>
            {% endif %}
        </div>

    <h1> Abonnés </h1>
        {% if followers %}
            {% for follower in followers %}
                    <div class="subs">
                        <div class="subsContainer">
                                <h2>{{ follower.user }} </h2>
                        </div>
                            </form> 
                        </div>      
                    </div>
                {% endfor %}
            {% else %}
        <p> Vous ne suivez personne pour l'instant.</p>
            {% endif %}
        </div>


</main>
{% endblock %}